* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
  font-family: "Times New Roman", Times, serif;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  max-height: 100%;
}

.fontSt_One {
  color: rgb(0, 32, 51);
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 25.64px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_One1 {
  color: rgb(0, 120, 210);
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
}

.fontSt_One24grey {
  color: rgba(0, 32, 51, 0.6);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_One2 {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.fontSt_Two {
  color: rgb(85, 107, 47);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_three {
  color: rgba(0, 32, 51, 0.6);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_three2 {
  color: rgb(0, 32, 51);
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_three2 {
  color: rgb(0, 32, 51);
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_foure {
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_36 {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_32 {
  color: rgba(0, 32, 51, 0.6);
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_32b {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: right;
}

.fontSt_six {
  color: rgb(0, 32, 51);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.fontSt_seven {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 27px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(1, 126, 250) !important;
}

.slick-initialized .slick-slide {
  width: 316px !important;
  margin-left: 16px;
}

.slick-slider .slick-list:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 25.45%,
    rgba(255, 255, 255, 0.35) 99.232%
  );
  width: 70px;
  height: 100%;
  transform: rotate(180deg);
}

.slick-slider .slick-list::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 25.45%,
    rgba(255, 255, 255, 0.35) 99.232%
  );
  width: 70px;
  height: 100%;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px !important;
}

.slick-prev {
  left: -35px !important;
}

:where(.css-dev-only-do-not-override-kghr11).ant-input-affix-wrapper
  .ant-input-prefix {
  margin-inline-end: 20px;
}

input:-webkit-autofill::first-line {
  font-size: 24px;
}

:where(.modalTask1).ant-modal .ant-modal-content {
  height: 670px;
}

:where(.modalTask2).ant-modal .ant-modal-content {
  height: 440px;
}

:where(.modalTask).ant-modal .ant-modal-content {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;
  row-gap: 32px;
}

:where(.modalTask).ant-modal .ant-modal-content div {
  width: 100%;
}

:where(.modalTask).ant-modal .ant-modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

:where(.modalTask).ant-modal .ant-modal-title {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: left;
}

:where(.modalTask).ant-modal .ant-modal-footer {
  text-align: center;
}

:where(.modalTask2).ant-modal .ant-modal-close {
  display: none;
}
